header {
    background-color: rgb(101, 124, 106);
    position-area: center;
    padding: 10px;
    margin: 10px;
    width: 5000px;
}


.header-1{
    text-align: left;
    margin: auto;
    padding: 1em 0;
    text-indent: 100px;
}

body{
    background-color: rgb(177, 194, 158)
}

h3 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-size: x-large;
    margin: center;
    font-style: normal;
    text-indent: 50px;
    color: rgb(54, 94, 50)
}

h1 {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        text-align: center;
}

.section1 {
    background-color: rgb(252, 231, 200);
    position-area: center;
    padding: 10px;
    margin: 10px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-2 {
    padding: 10px;
    margin: 20px;
    font-size: x-large;
    text-indent: 50px;
    border-left: 6px rgb(98, 111, 71);
    background-color: rgb(126, 151, 116);
}


.Greet {
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-size: x large;
        font-style: normal;
        text-indent: 80px;
}

.Para1 {
    text-indent: 50px;
}

li{
    display: block;
    /* list-style-type: decimal; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

hr {
    color: rgb(41, 103, 25);
}

img {
    float: left;
    clip-path: circle(40%);
    shape-outside: circle(40%);
    border-color: rgb(54, 94, 50);
}

div {
    /* border: 1px solid green; */
    padding: 10px;
    margin: 10px;
}

summary {
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    width: 500px;
    cursor: pointer;
}
details {
    font-size: 19px;
}

footer {
    text-align: center;
    padding: 10px 0;
    height: 65px;
    background-color: rgb(98, 111, 71);
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}