h3 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 20px;  
}

h1 {
        font-family: "Nanum Pen Script", cursive;
        font-weight: 400;
        font-style: normal;
}

/* li {
text-indent: 50px;
} */

.Para1 {


}

li{
    display: block;
    /* list-style-type: decimal; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

img {
    float: left;
    clip-path: circle(40%);
    shape-outside: circle(40%);
}

div {
    border: 1px solid green;
    padding: 10px;
    margin: 10px;
}
