html, body {
    height: 100%;
    margin: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrapper {
    position: relative;
    max-width: 50%;
    width: 100%;
}

    video {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    pointer-events: none; 
}