.video_container{
    height:50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div video {
    height: 3000px;
    width: 300px;
}

video {
    height: 350px;
    width: 350px;
    border: 10px solid #1e0692;
}

html, body {
    height: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}